DATABASE_URL=postgres://postgres:postgres@localhost:5432/hirehub?sslmode=disable
PORT=8080
CHAPA_PUBLIC_KEY=
CHAPA_SECRET_KEY=
CHAPA_BASE_URL=https://api.chapa.co
RETURN_URL=http://localhost:3000/payments/return
CALLBACK_URL=http://localhost:8080/payments/confirm 